<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>yoru-pass</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" type="image/png" href="/static/favicon.png" />
</head>
<body>
    <div class="page-container">
        <div class="form-component" style="max-width: 500px;">
            <header class="form-header">
                <h1>Password Protected</h1>
                <p>Please enter the password to view this paste.</p>
            </header>
            <main class="form-body">
                <form action="/{{ .PasteID }}/" method="post">
                    
                    {{if .Message}}
                    <div class="error-box">
                        {{ .Message }}
                    </div>
                    {{end}}

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Enter paste password..." required autofocus>
                    </div>
                    <button type="submit" class="button button-primary" style="width: 100%;">
                        <span>️☁️</span> View Paste
                    </button>
                </form>
            </main>
        </div>

    <footer class="site-footer">
    <div class="footer-content">
        <a href="https://github.com/ryu-ryuk/yoru-pastebin" target="_blank" class="github-link">source</a> ~ Yoru Pastebin
    </div>
    </footer>

    </div>
</body>
</html>
